<h2>Sign Up</h2>

<h4>Register for a Parent account and set up your home bank.</h4>

<p>Only Parents need to perform this sign up step. When a parent is signed up, s/he can access its Parent Page to create account (with temporary password) for his/her kid. The kid can later log in to change password.</p>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div>Name<br />
  <%= f.text_field :name %></div>

  <div>Email<br />
  <%= f.email_field :email %></div>

  <div>Password<br />
  <%= f.password_field :password %></div>

  <div>Password Confirmation<br />
  <%= f.password_field :password_confirmation %></div>


<%= f.hidden_field :user_type %>
<%= f.hidden_field :is_parent %>

  <div><%= f.submit "Sign Up" %></div>
<% end %>

<%= render "devise/shared/links" %>
