<h2>Admin Page</h2>

<p><%= link_to "Parents", parents_path %></p>

<p><%= link_to "Kids", kids_path %></p>


<p><%= link_to "Banks", banks_path %></p>

<p><%= link_to "Accounts", accounts_path %></p>

<p><%= link_to "Transactions", transactions_index_path %></p>

<p><%= link_to "Users", users_path %></p>

