<h2>Edit Parent: <%= @parent.p_name %></h2>


<%= form_for @parent do |f| %>
  <p>
    Name<br/>
    <%= f.text_field :p_name %>
  </p>
  <p>
        Email<br/>
    <%= f.text_field :p_email %>
  </p>

	<%= f.fields_for :bank do |builder| %>
	<p>
		Bank Name<br />
		<%= builder.text_field :b_name %>
	</p>
	<% end %>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p><%= link_to 'Back', parent_path(@parent) %></p>
