<h2>Parents</h2>

<table table class="table table-bordered">
  <tr>
	<th></th>
    <th>Name</th>
    <th>Bank</th>
  	<th>User</th>
  	<th>Number of kids</th>
  </tr>

<% @parents.each do |parent| %>
  <tr>
	<td> <%= link_to check_box_tag(:_destroy), parent, method: :delete, data: { confirm: 'Are you sure?' } %> Delete
		</td>
    <td><%= link_to parent.p_name, parent %></td>
    <td><%= parent.bank.b_name if parent.bank %></td>
    <td><%= link_to parent.user.email, edit_user_registration_path if parent.user %></td>
	<td><%= parent.kids.count if parent.kids %></td>
  </tr>
<% end %>

</table>


<p><%= link_to 'Add A Parent', new_parent_path %></p>


