<!DOCTYPE html>
<html>


<head>
  <title>MyHomeBank</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
	<p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>

<header>
<div class="Container">
	<div class="row">
		<div class="span8"><h2><%= image_tag "mhb_logo.jpg" %> <%= link_to "MyHomeBank", home_index_path %></h2></div>
		<div class="span4">
			<div id="user_nav">
				<% if user_signed_in? %>
				Logged in as <strong><%= current_user.email %></strong>.<br />
				<%= link_to 'Edit profile', edit_user_registration_path %> |
			  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
			<% else %>
			  <%= link_to "Register", new_user_registration_path %> |
			  <%= link_to "Log in", new_user_session_path %>
			<% end %>
			
			</div>
		</div>
	</div>
</div>

<hr></hr>
</header>	
	


<%= yield %>



<footer class="container">
	<hr></hr>
    <div>| <%= link_to 'Home', home_index_path %> | <%= link_to "About", home_about_path %> | <%= link_to "Admin", home_admin_path %> |</p>
	</div>
</footer>

</div>
</body>
</html>
